{% if proxy.http_proxy | default(False) %}
Acquire::http::proxy "{{ proxy.http_proxy }}";
{% endif %}
{% if proxy.https_proxy | default(False) %}
Acquire::https::proxy "{{ proxy.https_proxy }}";
{% endif %}
