# - name: Create download directory
#   file:
#     path: /var/download
#     state: directory
#     owner: root
#     group: root
#     mode: 0755
#
# - name: Download Virtualbox
#   get_url:
#     url: "{{ virtualbox.url }}"
#     dest: "/var/download/{{ virtualbox.package }}"
#
# - name: Install Virtualbox
#   apt:
#     deb: "/var/download/{{ virtualbox.package }}"
#     update_cache: yes

- name: Install Virtualbox dependency
  apt:
    pkg: "{{ item }}"
    state: latest
    update_cache: yes
    cache_valid_time: 600
  with_items:
    - linux-headers-generic
    - linux-headers-3.13.0-24-generic

- name: Install Virtualbox
  apt:
    pkg: "{{ item }}"
    state: latest
    update_cache: yes
    cache_valid_time: 600
  with_items:
    - virtualbox
    - virtualbox-dkms
    - linux-headers-generic
  register: kernel_result
