- name: Add Docker repository key
  apt_key:
    id: "{{ apt_key_sig }}"
    # url: "{{ apt_key_url }}"
    # id: "{{ apt_key_id }}"
    keyserver: "{{ apt_key_server }}"
    state: present
  environment:
    http_proxy: "{{ http_proxy }}"

- name: Add Docker repository
  apt_repository:
    repo: "{{ apt_repository }}"
    update_cache: yes
    state: present

- name: Install Docker
  apt: pkg={{ docker_lxc_pkg }}
  notify: "Start Docker"

- name: Expose docker host
  copy:
    content: "DOCKER_OPTS=\"{{ docker_opts }}\""
    dest: /etc/default/docker
    owner: root
    group: root
    mode: 0744
  notify:
    - Reload docker
  when: "export_docker_host"

- name: Install pip python package
  apt:
    pkg: "{{ item }}"
    state: latest
    update_cache: yes
    cache_valid_time: 600
  with_items:
    - python-dev
    - python-pip
  register: kernel_result

- name: Install Docker-py
  pip: name=docker-py

- name: Check if /etc/updatedb.conf exists
  stat: path=/etc/updatedb.conf
  register: updatedb_conf_exists

- name: Ensure updatedb does not index /var/lib/docker
  shell: >
    ex -s -c '/PRUNEPATHS=/v:/var/lib/docker:s:"$: /var/lib/docker"'
    -c 'wq' /etc/updatedb.conf
  when: updatedb_conf_exists.stat.exists

- name: Check if /etc/default/ufw exists
  stat: path=/etc/default/ufw
  register: ufw_default_exists

- name: Change ufw default forward policy from drop to accept
  lineinfile: >
    dest=/etc/default/ufw
    regexp="^DEFAULT_FORWARD_POLICY="
    line="DEFAULT_FORWARD_POLICY=\"ACCEPT\""
  when: ufw_default_exists.stat.exists
